@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.wrapper {
    grid-column: 4/10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wrapper .news__title {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.wrapper p {
    font-size: 1.2rem;
}

.h1_pink {
    background-color: rgb(245, 164, 155);
    color: white;
}

video {
    width: 100%;
    height: auto;
}

.news__brief {
    margin: 0.6em 0 0.7em;
    position: relative;
}
.news__brief::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    bottom: -0.6em;
    left: 0;
    background-color: lightgray;
}

.news__comment_add {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 1.5em;
    position: relative;
}

.news__comment_add textarea {
    flex: 1 0 auto;
    margin-right: 1.5em;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    box-sizing: border-box;
}
.news__comment_add button {
    max-width: 200px;
    border: none;
    padding: 0.3em 0.8em;
    background-color: rgb(245, 164, 155);
    color: white;
    font-size: 1.3rem;
    outline: none;
    cursor: pointer;
}
.news__comment_add button:hover {
    background-color: rgb(241, 153, 143);
}
.news__comment_add button:active {
    background-color: rgb(241, 136, 124);
}
